<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
    <table>
        <tr>
            <th th:text="'ID'">Id</th>
            <th th:text="'FIRST NAME'">FIRST NAME</th>
            <th th:text="'LAST NAME'">LAST NAME</th>
        </tr>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.getId()}"></td>
            <td th:text="${owner.getFirstName()}"></td>
            <td th:text="${owner.getLastName()}"></td>
        </tr>
    </table>
</body>
</html>