<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <table>
        <tr>
            <th th:text="ID"></th>
            <th th:text="'First Name'"></th>
            <th th:text="'Last Name'"></th>
        </tr>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.getId()}"></td>
            <td th:text="${vet.getFirstName()}"></td>
            <td th:text="${vet.getLastName()}"></td>
        </tr>
    </table>
</body>
</html>