<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="'List of vets'"></h2>
    <table id="vets" class="table table-striped">
        <tr>
            <th th:text="ID"></th>
            <th th:text="'First Name'"></th>
            <th th:text="'Last Name'"></th>
        </tr>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.getId()}"></td>
            <td th:text="${vet.getFirstName()}"></td>
            <td th:text="${vet.getLastName()}"></td>
        </tr>
    </table>
</body>
</html>